.navbar {
    background-color: #9e0b40;
    color: #fff;
}
.navbar-logo {
    height: 60px;
    margin-right: 15px;
}
.navbar-dark .navbar-nav .nav-link {
    color: #fff;
}
.main {
    background: linear-gradient(70deg, #f9f9f9, #f7dce1);
    min-height: 85vh;
    padding: 30px 5%;
}
.pagetitle {
    color: #fff;
    margin-bottom: 20px;
}
.footer {
    background-color: #222831;
    text-align: center;
}
.copyright {
    color: #fff;
}
