.image-wrapper {
    text-align: center;
}
.book-image {
    height: 150px;
    margin-bottom: 20px;
    object-fit: cover;
}

.book-title {
    height: 1em;
    overflow: hidden;
    text-align: center;
}
.description {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-left: 4em;
}
.detail-btn {
    display: block;
    width: 80%;
    margin: auto;
}
.pagination {
    justify-content: center;
}

.search-wrapper{
    text-align:right;
    margin-bottom:1.5em;
}

.keyword{
  height: 1.8em;
    width: 11em;
}
.group{
    height: 1.8em;
    width: 11em;
margin-right:0.3em;
}
.input type[submit]{
     height: 1.8em;
    width: 11em;
}